$color-background : #FFAFCC;
$color-footer-header : #FF99BE;
$color-btn : #9968b6;
$ancho-botones: 300px;
$alto-botones: 40px;
$ancho-cuadrostexto : 300px;
$alto-cuadrostexto : 40px;
$img-ancho : 300px;
$img-alto : 100px;

@use "footer";
@use "header";
@use "procedimientos";

body{
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family:sans-serif;
  section{
    width:375px;
    height:600px;
    background: $color-background;
    overflow:auto;
    text-align:center;
  }
  *{
    box-sizing: border-box;
    margin: 0px;
  	padding: 0px;
  }
  .main-content{
    flex: 1 0 auto;
  }
  .btn_verificar{
      width: 200px;
      height: 230px;
  }
  p{
    background: white;
  }
  .ocultar{
    display: none;
  }
  img{
    width: $img-ancho;
    height:$img-alto;
    position: center;
  }
  div{
    padding:10px;
  }
  input[type=text], input[type=password] , input[type=date], input[type=time]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width:$ancho-cuadrostexto;
    height:$alto-cuadrostexto;
  }
  input[type=submit]{
    background-color: $color-btn;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:$ancho-cuadrostexto;
    height:$alto-cuadrostexto;
    padding: 10px,10px;
  }
  select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width:300px;
    height:40px;
  }
  button {
    background-color: $color-btn;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:300px;
    height:40px;
    padding: 10px,10px;
  }
  button:hover {
    opacity: 0.8;
  }
  
  .volverAgendar{
    width:$ancho-botones;
    height:$alto-botones;
  }
  .show{
    display:block;
  }
  .hidden{
    display:none;
  }
  .login_content{
    position: relative;
    background-color: #999;
    width: 353px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    top:50%;
    margin-top: -115px;
    border-radius: 5%;
  }
  .close_button:hover{
    background-color: white;
    color: #333;
  }
  input{
    outline-color: #C98474;
  }
  
  
}
